.list-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 90vw;
    background-color: white;
    max-height: 78vh;
    overflow-y: auto;
    scrollbar-width: thin;
  scrollbar-color: var(--carbon) var(--neutral);
}

.list-items::-webkit-scrollbar{
    width:10px;
}
.list-items::-webkit-scrollbar-track {
    background: var(--neutral);

  }

  .list-items::-webkit-scrollbar-thumb {
    background-color: var(--carbon);
    border-radius: 20px;
    border: 3px solid  var(--carbon);
  }

.item {
    width: 150px;
    height: 200px;
    margin: 20px;
    border: 3px solid var(--sky);
    border-radius: 5px;
}

.search-bar{
    width: 95vw;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid cadetblue;
    margin: .25em;
    padding:10px;
}

.search-bar:active, .search-bar:focus-visible{
    outline:none;
}

.add2cart {
    position: relative;
    top: 83%;
    /* background: var(--carbon); */
    text-align: center;
    height: 2rem;
    width: 99%;
    /* background: rgb(2,0,36); */
    background: linear-gradient(0deg, transparent 0%, transparent 15%, var(--blue) 100%);
    border-radius: 5px;
    overflow: hidden;
}

.add2cart > a{
    bottom: -100%;
    position: absolute;    
    transition: bottom 0.5s ease;
}

.add2cart:hover > a{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    height: 0;
    /* background: blue; */
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    bottom: 0;
}